/client/node_modules
/client/package-lock.json
/client/DS_Store
/client/dist
/client/env.local
/client/env.*.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.idea
/client/.vscode
/client/*.suo
/client/*.ntvs*
/client/*.njsproj
/client/*.sln
/client/*.sw?
/server/node_modules
/server/package-lock.json